<div class="row">
    <div class="col">
        <button class="btn btn-primary mb-3" [routerLink]="'/user'">
            Inserisci un utente
        </button>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of (users$ | async)">
            <th scope="row">{{user.id}}</th>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>
                <div ngbDropdown
                    class="d-inline-block">
                    <button type="button"
                        class="btn btn-outline-primary"
                        id="dropdownBasic1"
                        ngbDropdownToggle>
                        Actions
                    </button>
                    <div ngbDropdownMenu
                        aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem  [routerLink]="'/user/' + user.id">
                            Modifica
                        </button>
                        <button ngbDropdownItem>Elimina</button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>