<div class="row"
	style="margin-top: 2em;">
	<div class="col">
		<select [(ngModel)]="viewMode"
			class="form-select form-select-lg mb-3">
			<option value="cards">
				Visualizzazione a card
			</option>
			<option value="list">
				Visualizzazione a tabella
			</option>
		</select>
	</div>
</div>

<div *ngIf="viewMode == 'cards'"
	class="row">
	<div *ngFor="let post of posts"
		class="col">
		<div class="card"
			style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">{{post.title}}</h5>
				<p class="card-text">{{post.body}}</p>
				<a [routerLink]="'/posts/' + post.id"
					class="btn btn-primary">
					Vedi dettagli
				</a>
				<a [routerLink]="'/posts/' + post.id + '/comments'"
					class="btn btn-primary">
					Vedi commenti
				</a>
			</div>
		</div>
	</div>
</div>

<div *ngIf="viewMode == 'list'"
	class="row">
	<div class="col">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Title</th>
					<th scope="col">Body</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let post of posts; index as i">
					<th scope="row">{{ post.id }}</th>
					<td>{{post.title}}</td>
					<td>{{post.body}}</td>
					<td>
						<div ngbDropdown
							class="d-inline-block">
							<button type="button"
								class="btn btn-outline-primary"
								id="dropdownBasic1"
								ngbDropdownToggle>
								Actions
							</button>
							<div ngbDropdownMenu
								aria-labelledby="dropdownBasic1">
								<button [routerLink]="'/posts/' + post.id + '/comments'"
									ngbDropdownItem>
									Vedi commenti
								</button>
								<button ngbDropdownItem>Modifica</button>
								<button ngbDropdownItem>Elimina</button>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
