<div class="mb-3">
	<label for="title"
		class="form-label">
		Title
	</label>
	<input [(ngModel)]="post.title"
		type="text"
		class="form-control"
		id="title"
		name="title"
		placeholder="Post title">

</div>
<div class="mb-3">
	<label for="body"
		class="form-label">
		Body
	</label>
	<textarea [(ngModel)]="post.body"
		class="form-control"
		id="body"
		name="body"
		rows="3"
		placeholder="Post body"></textarea>
</div>
<div class="mb-3">
	<label for="userId"
		class="form-label">
		User
	</label>
	<select [(ngModel)]="post.userId"
		class="form-control"
		id="userId"
		name="userId">
		<option *ngFor="let user of users"
			[value]="user.id">
			{{user.email}}
		</option>
	</select>
</div>

<div class="mb-3">
	<button (click)="saveFn()"
		type="button"
		class="btn btn-success">
		Salva
	</button>
</div>
